{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Oylar</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Saytga oʻtish</a></li>
                        <li class="breadcrumb-item active">Oylar</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">

                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Oy Kuni</label>
                                    <br>
                                    {{ form.parent }}
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Oy Nomi</label>
                                    <br>
                                    {{ form.oy }}
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Kunlar</label>
                                    <br>
                                    {{ form.day }}
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Saqlash</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}