{% load static %}

<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="{% url 'dashboard' %}" class="nav-link {{ d_active }}">Admin</a>
        </li>
    </ul>
</nav>

<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <a href="{% url 'dashboard' %}" class="brand-link">
        <img src="{% static 'dashboard/img/AdminLTELogo.png' %}" alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Admin</span>
    </a>

    <div class="sidebar">

        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'dashboard/img/user2-160x160.jpg' %}" class="img-circle elevation-2"
                     alt="User Image">
            </div>
            <div class="info">
                <a href="" class="d-block">{{ user.username }}</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="{% url "category_list" %}" class="nav-link {{ c_active }}">
                        <i class="nav-icon far fa-image"></i>
                        <p>Kategoriyalar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url "courses_list" %}" class="nav-link {{ x_active }}">
                        <i class="nav-icon far fa-image"></i>
                        <p>Kurslar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url "teacher_list" %}" class="nav-link {{ z_active }}">
                        <i class="nav-icon far fa-image"></i>
                        <p>Ustozlar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url "grup_list" %}" class="nav-link {{ q_active }}">
                        <i class="nav-icon far fa-image"></i>
                        <p>Guruhlar</p>
                    </a>
                </li>
                 <li class="nav-item">
                    <a href="#" class="nav-link {{ p_active }}">
                        <i class="nav-icon far fa-image"></i>
                        <p>Yangiliklar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url "users_list" %}" class="nav-link {{ n_active }}">
                        <i class="nav-icon far fa-image"></i>
                        <p>Userlar haqida malumot</p>
                    </a>
                </li>
                 <li class="nav-item">
                    <a href="#" class="nav-link {{ p_active }}">
                        <i class="nav-icon far fa-image"></i>
                        <p>To‘lovlar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link {{ p_active }}">
                        <i class="nav-icon far fa-image"></i>
                        <p>Tarix</p>
                    </a>
                </li>
                {#                <li class="nav-item">#}
                {#                    <a href="{% url 'main:kontak_list' %}" class="nav-link {{ k_active }}">#}
                {#                        <i class="nav-icon far fa-image"></i>#}
                {#                        <p>Kontak</p>#}
                {#                    </a>#}
                {#                </li>#}
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">
                        <i class="nav-icon far fa-image "></i>
                        <i class="fa-sign-out"></i>
                        <p>Roʻyxatdan chiqish</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</aside>